{% extends 'base.html.twig' %}

{% block title %}Edit Author{% endblock %}

{% block body %}
    <h1>Edit Author</h1>

    {{ include('author/_form.html.twig', {'button_label': 'Update'}) }}

	<a title="Back to list" class="btn btn-light" href="{{ path('author_index') }}">
		<i class="bi bi-arrow-left-circle"></i>
	</a>
    
    {{ include('author/_delete_form.html.twig') }}
{% endblock %}
