{% extends 'base.html.twig' %}

{% block title %}Author
{% endblock %}

{% block body %}
	{{ include("author/_show.html.twig", {'author': author})}}

	{# BACK BUTTON #}
	<a class="btn btn-light" href="{{ path('author_index') }}">
		<i class="bi bi-arrow-left-circle"></i>
	</a>

	{# EDIT BUTTON #}
	<a class="btn btn-primary" href="{{ path('author_edit', {'id': author.id}) }}">
		<i class="bi bi-pencil"></i>
	</a>

	{{ include('author/_delete_form.html.twig') }}

{% endblock %}
