{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<div class="text-center mt-4">
		<h1>Hello and welcome to my collection of poems and authors!</h1>
		<p>
			This website was mostly generated with the help of
			<code>make</code>
			tool.
		</p>

		<p>
			When you browse the poems you can display the whole text by clicking on the eye button. At the bottom of the poem you will find a button to give the poem praise. You can give as much love to you favourite poems as you please, so keep clicking that button!
		</p>

		{# AUTHOR OF THE DAY #}
		<div>
			<h3>{{author_of_the_day.name}} is the author of the day!</h3>
			<img width=300 src="{{ author_of_the_day.imgUrl }}"></img>
		</div>

		<p>
			You can check out the code and this project's history at
			<a href="https://github.com/Oshimani/webtech-projekt">
				<i class=" bi bi-github"></i>
				GitHub</a>
		</p>

	</div>
{% endblock %}
